<!-- The justified navigation menu is meant for single line per list item.
   Multiple lines will require custom code not provided by Bootstrap. -->
<div class="masthead">
  <table class="headTable">
    <tr>
      <td><h3 class="textName text-muted">Beekeeper GeoLokation</h3></td>
  </table>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">WebApp</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/home">Home</a></li>
        <li><a href="#/about">About</a></li>
        <li><a href="#/contact">Contact</a></li>
      </ul>
    </div>
  </nav>

  <table class="headTable">
    <tr>
      <td>
        <a href="#login" class="btn btn-info btnReg" role="button">LogIn / Registration</a>
      </td>
      <td></td>
    </tr>
  </table>
  
</div><!-- END masthead -->


<!-- Example row of columns -->
<div class="row grayBackground" >
  <div class="col-lg-12">
    <h2>Home</h2>
    <p>Here will be Google Maps API</p>
     <img src="images/googleMap.jpg" alt="Google Maps test image">
    <!-- <ng-map>
      <marker centered="true" position="current-location" ></marker>
    </ng-map> -->
  </div>
</div>