/* app css stylesheet */


body {
  //background: url(../images/yellow.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.textName {
  width: 50%;
}

.headTable {
  width: 100%;
  margin: -10px 0px 10px 0px;
}

.btnReg {
  float: right;
  border-radius: 15px 50px;
  background: #D8B622;
  padding: 18px; 
  width: 173px;
  height: 55px;
}

.btnBack {
  float: left;
  border-radius: 15px 50px;
  background: #D8B622;
  padding: 18px; 
  width: 173px;
  height: 55px;
}

.btnLogOut {
  float: right;
  border-radius: 15px 50px;
  background: #D8B622;
  padding: 18px; 
  width: 173px;
  height: 55px;
}

.leftPosition {
  float: left;
  width: 50%;
}

.rightPosition {
  float: right;
  width: 50%;
}

.centerText {
  text-align: center;
}

.infoBox {
  overflow: auto;
  height: 100px;
}