<!-- The justified navigation menu is meant for single line per list item.
   Multiple lines will require custom code not provided by Bootstrap. -->
<div class="masthead">
  <table class="headTable">
    <tr>
      <td><h3 class="textName text-muted">Beekeeper GeoLokation</h3></td>
    </tr>
  </table>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#/" class="navbar-brand">Beekeeper</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#/home">Home</a></li>
        <li class="active" ><a href="#/about">About</a></li>
        <li><a href="#/contact">Contact</a></li>
      </ul>
    </div>
  </nav>

  <table class="headTable">
    <tr>
      <td>
        <a href="#login" class="btn btn-info btnReg" role="button">LogIn / Registration</a>
      </td>
      <td></td>
    </tr>
  </table>
  
</div><!-- END masthead -->

<!-- Example row of columns -->
<div class="row grayBackground">
  <div class="col-lg-12">
    <h2>About</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
  </div>
</div>

      